{% extends "base.html" %} {% block content %} {% load static %}
<main role="main">
    <div class="jumbotron mycontainer rounded-0">
        <div class="container">
            <h1 class="display-3 text-white">Привет {{jedi}}!</h1>
            <p class="text-white">На протяжении тысяч поколений, рыцари-джедаи были хранителями мира и справедливости в Старой Республике.</p>
            <p class="text-white">Выбери себе юного ученика (но не больше {{max_count_padavans}}), дабы пополнить ряды доблесных воинов.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3 class="text-center">Мои ученики</h3>
                {% for padavan in padavans %}
                    <div class="list">
                        <div class="list-group">
                            <a href="{{ padavan.get_absolute_url }}" class="list-group-item list-group-item-action active">
                                <div class="d-flex w-100 justify-content-between">
                                    <h3 class="mb-1">{{ padavan }}</h3>
                                </div>
                                <p class="mb-1">Планета: {{ padavan.planet }}</p>
                                <p class="mb-1">Возраст: {{ padavan.age }}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-8">
                <h3 class="text-center">Кандидаты:</h3>
                <div class="person">
                    <div class="">
                        {% for candidate in candidate_list %}
                            <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h4 class="card-title">{{ candidate }}</h4>
                                <p class="mb-1">Планета: {{ candidate.planet }}</p>
                                <p class="mb-1">Возраст: {{ candidate.age }}</p>
                                <form action="{% url 'to_padavan' jedi.id %}" method="POST">
                                {% csrf_token %}
                                    <button type="submit" name="sensei" value="{{candidate.id}}" class="btn btn-primary">Взять в ученики</button>
                                </form>
                            </div>
                            </div>
                            
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}

