{% extends "base.html" %} {% block content %} {% load static %}
<main role="main" class="container-task">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <div class="lh-100">
            <h4 class="mb-0 text-white lh-100">Candidates</h4>
            <small></small>
        </div>

    <div>
        <form method="POST" >{% csrf_token %}
            {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    </div>
    
    </div>

</main>


{% endblock %}
