<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Jedi Academy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% load static %}

</head>


<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <h2>Jedi Academy</h2>
                <nav class="nav">
                </nav>
            </div>
        </div>
    </header>

    <div class="block">
        <div class="page">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>